body {
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 18.4px;
	line-height: 1.4;
    margin: 0 auto;
    width: 800px;	
    background-color: #252b2b;
	color: #000000; 
}
a {
	 text-decoration: none; 
	 border-bottom: #FFFFFF solid;		
}

a:link {
    /* color: #008fd4; */
    color: #000000;
    text-decoration: underline;
}
a:visited, li:visited {
    color: #000000; 
}
a:hover {
    color: #bfbfb3;
}

.navDiv a, .navDiv li{
    text-decoration: none;
    font-weight: bold;
}

.navDiv a:hover, .navDiv li:hover {
    border-bottom: none !important;
    color: #bfbfb3;
}

header {
	margin: 0px 0px 0px 0px;
	padding: 0;
}
header h1 {
	max-width: 480px;
	font-size: 60px;
	line-height: 38px;
	letter-spacing: -1px;
	font-weight: bold;
	display: inline;
	color: #FFFFFF;
}

.contentDiv{
  background-color: #FFFFFF;
  padding: 10px 5px 20px 10px;
  margin: 10px 0px 10px 0px;
  position: relative;
}

.navDiv {
    width: 97px;
    background-color: #FFFFFF;
    display: inline-block;
    position: relative;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 25px;
    margin: 4px 4px 2px 4px;
    line-height: 40px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.hr-inner{
  height: 3px;
  align: center;
  color: #6a6a6a;
  background-color: #6a6a6a;
}

.hr-outer{
  height: 5px;
  align: center;
  color: #F8F8FF;
  background-color: #F8F8FF;
}

section h1 {
	font-size: 218%;
    color: #6a6a6a;
}
section h2 {
	font-size: 164%;
    color: #5a5a5a;
}
section h3 {
	font-size: 145%;
    color: #4a4a4a;
}
section h4 ,summary{
	font-size: 118%;
    color: #4a4a4a;
}

h1, h2, h3, h4, h5, h6{
  margin: 10px 0px 10px 0px;
  padding: 0px;
 }

code {
	margin: 0 2px;
	padding: 0px 5px;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	border-radius: 3px;
}

p{ 
  margin-left: 10px;
  margin-top: 10px;
}

img, object{
  margin: auto;
  display: block;
}


.rightimg {
	float: right;
	margin-left: 20px;
	margin-bottom: 10px;
	border: 0px;

}

.clear {
	clear: both;
}
#thanksTwo {
  display: none;
}

#showShiny, #showJeff{
    border-bottom: #500000 solid;
	color: #6a6a6a;
}
#thanks{
	color: #6a6a6a;
}
a#showShiny:hover, a#showJeff:hover{
	 border-bottom: #FFFFFF solid;	
}
footer table{
  text-align: center;
}
#footer-left{
 color: #F8F8FF;
 text-align: left;
}
#footer-right img{
  margin-left: 50px;
}

#displayr-logo{
    margin: 0;
    width: 10em;
}
