/* footer img{ */
/*     border: 0; */
/*     verticle-align: bottom; */
/* } */

nav, .example > button, .example :hover, btn.active.btn-info.active,
.btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover,
.open>.btn-info.dropdown-toggle{
    background: #191919;
    border-color: #191919;
}

.example-btn{
    border-color: #191919;
    color: #191919;
    background: #eceeef;
    margin-right: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */        
}

/* add padding below top navbar */
h3.example{
    padding-bottom: 20px;
}

/* Make sure examples take up entire page */
.panel button{
    width: 100%;
    /* margin-bottom: -5px; */
}

/* to prevent vert. stacked li in footer navbar */
/* .navbar-custom>li { */
/*     display: inline-block; */
/* } */

/* Could not get nav-left and nav-right working together in footer;
   work around was to put left and right items in same list and
   float first two left and other two right
*/
#nav-footer li:first-child, #nav-footer li:nth-child(2){
  float: left;
}

#nav-footer li{
    /* float: none; */
    /* text-align: center; */
    /* display: inline-block; */
    
  /*     display:inline-block; */
  /* vertical-align:middle; */
  /* line-height:40px; */
    /* padding:50px 10px 0px; */
  list-style:none;
  margin:15px;
  float: right;
  font-variant: small-caps;
  font-family: optima, "nimbus-sans-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;  
}

.label-pill{
    font-size: 20px;
    background-color: white;
  }

/* issues with stacking for footer navbar and UTSemblem caused by needing
   position: absolute for div for UTSemblem img; needed to give the div 
   (#UTSemblem-footer) negative z-index, while giving
   img z-index greater than navbar's z-index of 1000
   Note: z-index needs element to have fixed, absolute, or relative
         position; static won't work
*/
#nav-footer{
    min-height:50px;
    /* width: 100%; */
    color: white;
    position: relative;
}

a:link, #footer-more, a:visited{
    color: #191919;
}

#nav-footer a:link, #nav-footer a:visited{
    color: white;
}

#UTSemblem-footer > a{
    z-index: 10000;
    pointer-events: all;
}


/* centre UTS logo in footer */
#UTSemblem-footer{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    z-index: -1;
    pointer-events: none;
    /* background: url('assets/img/UTSemblem.svg'); */
}

#UTSemblem-footer img{
    margin: auto;
    display: inline-block;
    z-index: 9999;
    pointer-events: none;
}

.navbar-nav > li, #nav-footer ul{
    z-index: 9998;
}
footer h2{
    /* font-weight: 300; */
    /* font-size: 50px; */
    margin-bottom: 30px;
}
/* #nav-footer .navbar-text{ */
/*     float: right; */
/*     text-align: right; */
/*     /\* verticle-align: middle; *\/ */
/*     padding:0px 0px 50px */
/*   line-height:10px;		 */
/*     /\* display: table-cell; *\/ */
/* } */

p, span{
    font-family: adobe-caslon-pro, 'Times New Roman', Times, serif;
}

.navbar-brand{
    font-weight: bold;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter',
    'Lucida Typewriter', monospace;
    color: white;
    margin-right: 50px;
}

#basic-info{
    font-weight: bold;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter',
    'Lucida Typewriter', monospace;
    color: rgb(85, 85, 85);
    display: block;
}

#navbar a{
    color: white;
}

.featurette p{
    color: rgb(85, 85, 85);
    display: block;
    font-family: adobe-caslon-pro, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    /* height: 648px; */
    letter-spacing: 0.666666686534882px;
    line-height: 22.8571434020996px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-rendering: optimizeLegibility;
    vertical-align: baseline;
}

.featurette-heading, #footer-more, #basic-info{
    /* text-transform: uppercase; */
    font-variant: small-caps;
    font-family: optima, "nimbus-sans-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#navbar li{
    /* text-transform: uppercase; */
    text-transform: uppercase;
    font-style: italic;
    font-family: optima, "nimbus-sans-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

#navbar li.nav-item.active > a{
    font-style: normal;
    font-weight: bolder;
}

.tab-header{
    margin-top: 15px;
}

img.team-photo{
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 150px;    
}

.jumbotron.vertical-center {
  margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
}

/* .vertical-center { */
/*   min-height: 100%;  /\* Fallback for vh unit *\/ */
/*   min-height: 100vh; /\* You might also want to use */
/*                         'height' property instead. */
                        
/*                         Note that for percentage values of */
/*                         'height' or 'min-height' properties, */
/*                         the 'height' of the parent element */
/*                         should be specified explicitly. */
  
/*                         In this case the parent of '.vertical-center' */
/*                         is the <body> element *\/ */

/*   /\* Make it a flex container *\/ */
/*   display: -webkit-box; */
/*   display: -moz-box; */
/*   display: -ms-flexbox; */
/*   display: -webkit-flex; */
/*   display: flex;  */
  
/*   /\* Align the bootstrap's container vertically *\/ */
/*     -webkit-box-align : center; */
/*   -webkit-align-items : center; */
/*        -moz-box-align : center; */
/*        -ms-flex-align : center; */
/*           align-items : center; */
  
/*   /\* In legacy web browsers such as Firefox 9 */
/*      we need to specify the width of the flex container *\/ */
/*   width: 100%; */
  
/*   /\* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers */
/*      hence the bootstrap's container won't be aligned to the center anymore. */
  
/*      Therefore, we should use the following declarations to get it centered again *\/ */
/*          -webkit-box-pack : center; */
/*             -moz-box-pack : center; */
/*             -ms-flex-pack : center; */
/*   -webkit-justify-content : center; */
/*           justify-content : center; */
/* } */

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.about-box{
    background-color: #191919; /* #eceeef; */
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    color: white; /* rgb(85, 85, 85); */
    font-family: adobe-caslon-pro, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    /* height: 648px; */
    letter-spacing: 0.666666686534882px;
    line-height: 22.8571434020996px;
    text-rendering: optimizeLegibility;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */    
}

/* p.list-group-item-text{ */
/*     background-color: #191919; /\* #eceeef; *\/ */
/*     color: white; */
/*     padding: 10px; */
/*     /\* border: 1px dotted rgb(221, 221, 221); *\/ */
/*     /\* margin-bottom: 10px; *\/ */
/*     /\* margin-right: 10px; *\/ */
/*     font-family: adobe-caslon-pro, 'Times New Roman', Times, serif; */
/*     font-size: 16px; */
/*     font-stretch: normal; */
/*     font-style: normal; */
/*     font-variant: normal; */
/*     font-weight: normal; */
/*     /\* height: 648px; *\/ */
/*     letter-spacing: 0.666666686534882px; */
/*     line-height: 22.8571434020996px; */
/*     text-rendering: optimizeLegibility; */
/*     /\* -moz-border-radius: 10px; *\/ */
/*     /\* -webkit-border-radius: 10px; *\/ */
/*     /\* border-radius: 10px; /\\* future proofing *\\/ *\/ */
/*     /\* -khtml-border-radius: 10px; /\\* for old Konqueror browsers *\\/ *\/ */
/* } */
.list-hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(221, 221, 221), rgba(0, 0, 0, 0));
    margin: .5rem;
}

.list-group-item{
    border-color: #191919;
}

div.jumbotron.about-box{
    max-width: 400px;
    /* margin: 10px; */
}

figure{
    display: table;
}

figure > img{
    display: table-row;
    margin-left: auto;
    margin-right: auto;
}    

figcaption{
    display: table-caption;
    text-align: center;
    caption-side: bottom;
    background-color: rgb(236, 238, 239);
}

#rentalColourMap{
    position:relative;
    top: 0;
    left: 0;
}

#rentalColourBar{
    position: absolute;
    top: 0;
    left: 580px;
    margin: 0;
}

#rentalMapContainer{
    position: relative;
    left: 0;
    top: 0;
}

.example-btn.shown{
    background-color: #191919;
    color: white;
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
