/* This file is necessary to have footer navbar stick to bottom of window
   given that the top navbar is present */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer-sb {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /* clear: both; */
  /* background-color: #f5f5f5; */
}